<!DOCTYPE html>
<html lang="pt-br">
  {% include 'components/header/header.html' %}

  <body>
    <div class="px-3">
      <div>
        <h1 class="d-none d-md-block text-center">Lista de Produtos</h1>
        <h4 class="d-block d-md-none text-center">Lista de Produtos</h4>
      </div>

      <!-- Botões de Filtro -->
      <div class="mb-3 text-center d-flex justify-content-center">
        <div class="overflow-auto d-flex justify-content-center flex-nowrap">
          <form method="get" action="{% url 'produto-list' %}" class="d-flex">
            {% for categoria in categorias %}
            <a id="btn_color{{ categoria.id }}" class="btn btn-outline-secondary mx-1 flex-shrink-0" 
               href="?categorias_filter={{ categoria.id }}">{{ categoria.categoria }}</a>
            {% endfor %}
          </form>
        </div>
      </div>

      <div class="btns d-flex">
        <div class="btnnew">
          <button data-no-loading type="button" class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#estoquemin">
            Produtos Inativos</button>
        </div>
      </div>

      <!-- Lista de Produtos -->
      <div class="row">
        {% for produto in produtos %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card h-100 shadow position-relative">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between">
                {{ produto.nome }}
                {{ produto.formato|default:'' }}
                {% if produto.id_categoria.img %}
                  <!-- Ajustando a imagem para um tamanho fixo -->
                  <img src="{{ produto.id_categoria.img.url }}" alt="{{ categoria.categoria }}" class="img-fluid" 
                       style="width: 70px; height: 70px; object-fit: cover;" />
                {% endif %}
              </h5>

              <p class="card-text">
                <strong>Data de Criação:</strong> {{ produto.data_cadastro }}<br />
                <strong>Categoria:</strong> {{ produto.id_categoria }}<br />
                <strong>Quantidade:</strong> {{ produto.unidades }} unidades em cada {{ produto.id_formato }}
              </p>
              <div class="d-flex justify-content-between">
                <form method="post" action="{% url 'produto-desative' produto.pk %}">
                  {% csrf_token %}
                  <input type="hidden" name="acao" value="desativar" />
                  <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Desativar</button>
                </form>                
                <a href="{% url 'produto-update' produto.pk %}" class="btn btn-info btn-sm"><i class="bi bi-pencil-square"></i> Editar</a>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
          <p>Nenhum produto registrado.</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% include 'components/modal_produtos.html' %}
    {% include 'components/footer/footer.html' %}
  </body>
</html>
