{% load static %}

<!-- Modal de Mensagem -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="messageModalLabel">Mensagem</h5>
        </div>
        <div class="modal-body">
          <!-- A mensagem será inserida aqui -->
          <div id="modalMessage" class="alert" role="alert">
            <!-- Mensagem dinâmica aqui -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if messages %}
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          var modal = new bootstrap.Modal(document.getElementById('messageModal'), {});
          var modalMessage = document.getElementById('modalMessage');

          // Para cada mensagem Django
          {% for message in messages %}
              var alertDiv = document.createElement("div");
              alertDiv.classList.add("alert");
              alertDiv.classList.add("alert-{{ message.tags }}");  // Adiciona a classe de acordo com o tipo da mensagem (sucesso, erro, etc.)
              alertDiv.textContent = "{{ message }}";  // Insere o conteúdo da mensagem

              modalMessage.appendChild(alertDiv);  // Adiciona a mensagem ao modal
          {% endfor %}

          // Mostra o modal
          modal.show();
      });
  </script>
{% endif %}


</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>