<!-- Adicione o link da biblioteca SheetJS -->
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" id="exampleModalLongTitle">Produtos com o estoque zerado</h5>
                <button data-no-loading type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!-- Botão para exportar -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span class="fw-bold text-primary">Exportar a lista:</span>
                    <button id="exportExcelMin" class="btn btn-success d-flex align-items-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi9hgzx0qUGxE-HIha6ymd6uG82YtXwJ9mXtseCoBq03HDTPnZNIfrATLQssPjLIGMYs8&usqp=CAU" alt="Exportar" style="width: 20px; height: 20px; margin-right: 5px;">
                        Exportar para Excel
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" id="estoqueZeradoTable">
                        <thead>
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col">Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos_estoque_zerado %}
                                <tr>
                                    <td>{{ produto.id_produto.nome }}</td>
                                    <td>{{ produto.id_produto.id_categoria.categoria }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3" class="text-center">Nenhuma movimentação registrada.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button data-no-loading type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Adicione o evento ao botão
    document.getElementById('exportExcel').addEventListener('click', function (event) {
        event.preventDefault(); // Previne o comportamento padrão do link

        // Captura a tabela
        const table = document.getElementById('estoqueZeradoTable');
        const ws = XLSX.utils.table_to_sheet(table); // Converte a tabela para uma planilha
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Produtos Zerados');

        // Baixa o arquivo Excel
        XLSX.writeFile(wb, 'produtos_estoque_zerado.xlsx');
    });
</script>
